#header{
    background-color: blue;
    height: 110px;
    color:white;
    padding-top: 15px;
    box-shadow: 5px 10px 8px #888888 ;
    margin-bottom: 50px;
}
 .logo{
    border-radius:85px;
   
}   
 .section-introduce{
     color: #000;
     text-align: justify;
 }


  #leader img{
      width: 60px;
      height:60px;
      border-radius: 100px;
  }
  #leader {
        
  }
  #content{
      border-radius:10px;
      border:1px solid gray;   
      width: 273px;
      height: 350px;
  }
  #content > img {
  border-radius: 10px 10px 0px 0px;
  }
  .address{
      color:white;
      height: 100px;
      background-color: blue;
      margin-top: 150px;
      padding-top: 10px;
  }
  #header,.section-introduce,.address,.section-body{
      padding-left: 150px;
  }