#header{
    background-color: blue;
    height: 115px;
    color:white;
    padding-top: 15px;
    box-shadow: 3px 10px 5px 5px ;
}
 .logo{
    border-radius:85px;
   
}   
 .section-introduce{
     color: #000;
     text-align: justify;
 }

 .section-body{
     width: 250px;
     height: 270px;
    box-shadow: 85px;   
 }
 #content{
    border:1px solid gray;
 }
  #leader img{
      width: 60px;
      height:60px;
      border-radius: 100px;
  }
  .address{
      color:white;
      height: 100px;
      background-color: blue;
      margin-top: 50px;
      padding-top: 10px;
  }
  #header,.section-introduce,.address,.section-body{
      padding-left: 150px;
  }