* {
    padding: 0;
    margin: 0;
}

#add-student {
    width: 55%;
}

fieldset {
    padding-left: 30px;
    margin-top: 20px;
    margin-left: 65px;
    height: 190px;
}

form {
    padding-top: 20px;
}

form label {
    width: 100px;
    display: inline-block;
}

form button {
    padding: 8px 22px;
    background-color: dodgerblue;
    border-radius: 5px;
    margin-left: 570px;
    color: white;
    border: none;
}

form button:hover {
    background-color: orange;
}