.header{
    background-color: rgb(0, 110, 255);
    position: relative;
    height: 100px;
}   
.navigation ul{
    color: white;
    list-style: none;
}
.navigation li{
    display: inline-block;
    padding: 0 15px;
   }
.navigation{
    width: 100px auto;
    position:absolute;
    right:150px;
    bottom:30px;
    text-align: center;
}
.content span{
    font-size:30px;
    color:white;
    position: absolute;
    left:160px;
    top:25px;
    bottom:30px;
}
.content-img{
   position:absolute;
   left:90px;
   top:15px;
   bottom:30px;
}
.content-img img{
    border-radius: 50%;
}
.title{
    margin-top: 40px;
    text-transform: uppercase;
    padding-left: 95px;
}
.description{
    padding-left: 95px;
}
.standout-course{
margin-top: 50px;
padding-left: 74px;
}
.detail-soldout-course{
    width:260px;
    height:350px;
    border: 1px solid gray;
    display: inline-block;
    margin-left: 20px;
    
}
.course-name{
 font-size: 17px;
 padding-left: 25px;
}
.title-soldout{
    color:blue;
    text-transform: uppercase;
    padding-left:18px ;
}
.course-teacher{
    padding-left: 13px;
}
.course-teacher img{
    border-radius: 50%;
}
.title-teacher{
    margin-left: 80px;
    margin-top: 0px;
}
.course-teacher span{
    max-width: 40px;
    margin: 0 auto;
    padding-left: 15px;
}
.coure-price{
    padding-left: 170px;
    color:  red;
}
.list-teacher{
    margin-top: 30px;
    padding-left: 95px;
}
.title-list-teacher{
    text-transform: uppercase;
    color: blue;
}
.teacher-img{
   background-image:url("../images/my_tam.jpg");
   width: 200px;
   height:100px;
   background-size: cover;
}
.box-teacher{
margin-top: 100px;
}
.description-teacher{
  display: inline-block;
}








.footer{
    height: 150px;
    background-color:rgb(0, 81, 255);
    position: relative;
    
}
.footer-img img{
   position: absolute;
   left:95px;
   border-radius: 50%;
   top:30px;
}
.address{
    position: absolute;
    left:95px;
    bottom: 20px;
    color: white;
}
.information-academy ul{
    list-style-type: none;
    position: absolute;
    right: 550px;
    top:10px;
    bottom: 30px;
    line-height: 25px;
}
.information-academy{
    color: white;
}