    * {
        padding: 0;
        margin: 0;
    }
    
    .container {
        max-width: 786px;
        margin: 0 auto;
    }
    
    header {
        background-color: #000!important;
        height: 50px;
    }
    
    #nav {
        height: 100%;
        display: inline-block;
    }
    
    #nav>ul {
        display: flex;
        height: 100%;
    }
    
    #nav .sub-nav {
        z-index: 1;
        color: #000;
        position: absolute;
        background-color: white;
        line-height: 40px;
        width: 150px;
        height: 130px;
        display: none;
    }
    
    #nav .sub-nav li {
        height: 33.33%;
        width: 91%;
        padding-left: 13px;
    }
    
    #nav li {
        list-style-type: none;
    }
    
    .active {
        width: 100px;
    }
    
    .search {
        float: right;
        color: white;
        padding: 15px 20px 0 20px;
        height: 100%;
    }
    
    .search:hover {
        background-color: red;
    }
    
    #nav li:hover .sub-nav {
        display: block;
    }
    
    .ti-angle-down {
        color: white;
        font-size: 12px;
        margin-left: 8px;
    }
    
    #nav li a {
        color: white;
        text-decoration: none;
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #nav li:hover a,
    .sub-nav li:hover {
        color: #000;
        background-color: #cccc;
    }
    
    #banner {
        width: 100%;
    }
    
    .banner-1 {
        background-image: url('../images/band..jpg');
        height: 600px;
        background-position: center;
        background-size: cover;
        position: relative;
        text-align: center;
    }
    
    .banner-2 {
        background-image: url('../images/bay.jpg');
        height: 600px;
        background-position: center;
        background-size: cover;
        position: relative;
        text-align: center;
    }
    
    .banner-3 {
        background-image: url('../images/chicago.jpg');
        height: 600px;
        background-position: center;
        background-size: cover;
        position: relative;
        text-align: center;
    }
    
    .content {
        position: absolute;
        bottom: 50px;
        color: white;
        left: 0;
        right: 0;
    }
    
    .content .name {
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .content .describe {
        font-size: 18px;
    }
    
    .title {
        padding-top: 80px;
        letter-spacing: 7px;
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .sub-title {
        font-size: 17px;
        font-style: italic;
        color: gray;
        margin-bottom: 35px;
        text-align: center;
    }
    
    #describe .main-title {
        text-align: justify;
        font-size: 17px;
    }
    
    #box-describe {
        display: flex;
        margin-top: 40px;
        margin-bottom: 90px;
        text-align: center;
    }
    
    #box-describe .box {
        width: 33.3333%;
    }
    
    .member-img {
        width: 153px;
        border-radius: 5px;
    }
    
    #tour {
        background-color: #000;
        height: 900px;
    }
    
    #tour .title {
        color: white;
    }
    
    #month {
        background-color: white;
        margin-bottom: 32px;
        height: 118px;
    }
    
    #month .item {
        height: 33.33%;
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .bought {
        background-color: #f44336;
        margin-left: 20px;
        padding: 5px 10px;
    }
    
    .item p {
        padding-left: 20px;
        color: gray;
        width: 60px;
    }
    
    #month .amount {
        margin-left: 400px;
        background-color: #000;
        color: white;
        height: 50px;
        width: 120px;
    }
    
    .quantity {
        position: absolute;
        right: 30px;
        background-color: #000;
        color: white;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        text-align: center;
        line-height: 25px;
        font-size: 18px;
    }
    
    .item-place {
        background-color: white;
        width: 32%;
        height: 400px;
    }
    
    .item-place img:hover {
        opacity: 0.9;
        background-color: black;
    }
    
    .name-place {
        color: #000;
        padding-top: 15px;
        font-weight: bold;
        font-size: 18px;
    }
    
    .item-place .decribe {
        color: #000;
        padding-bottom: 17px;
        font-size: 17px;
    }
    
    .item-place .time {
        color: white;
        padding: 18px 0;
        color: gray;
    }
    
    #place .bought-ticket {
        padding-left: 20px;
    }
    
    .item-place button {
        padding: 10px;
        background-color: #000;
        color: white;
        border: none;
        font-size: 15px;
    }
    
    #place {
        display: flex;
        justify-content: space-between;
    }
    
    .contac-infor .infor {
        margin-right: 220px;
    }
    
    #contact-infor {
        display: flex;
        justify-content: space-between;
    }
    
    .form-infor {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    .form-infor input {
        width: 45%;
        height: 40px;
        padding-left: 10px;
        border: 1px solid #ccc;
    }
    
    #email {
        float: right;
    }
    
    #message {
        margin-top: 10px;
        width: 99.5%;
        height: 40px;
        border: 1px solid #ccc;
    }
    
    #name {
        margin-right: 16px;
    }
    
    #send {
        margin-top: 10px;
        max-width: 500px;
        float: right;
        background-color: #000;
        color: white;
        border: none;
        padding: 12px 20px;
        font-size: 15px;
    }
    
    .place span {
        font-size: 45px;
        vertical-align: middle;
        padding-right: 10px;
    }
    
    .phone span {
        font-size: 19px;
        padding-right: 17px;
        vertical-align: middle;
    }
    
    .email span {
        font-size: 22px;
        margin-top: 10px;
        padding-right: 10px;
        vertical-align: middle;
    }
    
    #send:hover,
    .bought-ticket #ticket:hover {
        background-color: gray;
        color: black;
    }
    
    #map {
        margin-top: 120px;
        background-image: url('../images/map.jpg');
        height: 600px;
    }
    
    #social-list {
        margin-top: 80px;
        text-align: center;
        margin-bottom: 100px;
    }
    
    .ti {
        font-size: 23px;
        color: rgba(128, 128, 128, 0.541);
        text-decoration: none;
        padding-left: 2px;
    }
    
    .ti:hover {
        color: rgb(128, 128, 128);
    }
    
    #social-list p {
        margin-top: 20px;
        color: gray;
    }
    
    #social-list p a {
        margin-top: 20px;
        color: gray;
    }