    * {
        padding: 0;
        margin: 0;
    }
    
    .container {
        max-width: 1300px;
        margin: 0 auto;
    }
    
    header {
        background-color: #000!important;
        height: 50px;
    }
    
    #nav {
        height: 100%;
        display: inline-block;
    }
    
    #nav ul {
        display: flex;
        height: 100%;
    }
    
    #nav li {
        list-style-type: none;
    }
    
    .search {
        float: right;
        color: white;
        padding: 15px 20px 0 20px;
        height: 100%;
    }
    
    .search:hover {
        background-color: red;
    }
    
    .ti-angle-down {
        color: white;
        margin-left: 8px;
        font-size: 14px;
    }
    
    #nav .sub-nav {
        display: none;
    }
    
    #nav li a {
        color: white;
        text-decoration: none;
        padding: 0 30px 30px;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #nav li:hover a {
        color: #000;
        background-color: #cccc;
    }
    
    #nav .sub-nav {
        margin-top: 50px;
    }
    
    #nav li:hover .sub-nav {
        display: block;
        background-color: blanchedalmond;
    }
    
    #banner {
        width: 100%;
    }
    
    .banner-1 {
        background-image: url('../images/band..jpg');
        height: 600px;
        background-position: center;
        background-size: cover;
        position: relative;
        text-align: center;
    }
    
    .banner-2 {
        background-image: url('../images/bay.jpg');
        height: 600px;
        background-position: center;
        background-size: cover;
        position: relative;
        text-align: center;
    }
    
    .banner-3 {
        background-image: url('../images/chicago.jpg');
        height: 600px;
        background-position: center;
        background-size: cover;
        position: relative;
        text-align: center;
    }
    
    .content {
        position: absolute;
        bottom: 50px;
        color: white;
        left: 39%;
    }
    
    .content .name {
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .content .describe {
        font-size: 18px;
    }
    
    #describe {
        margin-top: 80px;
        text-align: center;
    }
    
    #describe .title {
        letter-spacing: 10px;
        font-size: 30px;
    }
    
    #describe .sub-title {
        margin-top: 20px;
        font-size: 17px;
        font-style: italic;
        color: gray;
    }
    
    #describe .main-title {
        margin-top: 5px;
        padding: 10px 350px;
        text-align: justify;
        font-size: 17px;
    }
    
    #box-describe {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    
    .box img {
        border-radius: 5px;
    }
    
    #tour-dates {
        height: 900px;
        background-color: #000;
    }
    
    #tour-dates .title {
        color: white;
        letter-spacing: 6px;
        font-size: 30px;
        padding-top: 90px;
        text-align: center;
    }
    
    #tour-dates .sub-title {
        font-style: italic;
        font-size: 18px;
        color: gray;
        padding-top: 25px;
        margin-bottom: 50px;
        text-align: center;
    }
    
    #month {
        width: 650px;
        height: 160px;
        background-color: white;
        margin-left: 350px;
        margin-right: 100px;
        margin-bottom: 40px;
    }
    
    #month .item {
        height: 33%;
        display: flex;
        align-items: center;
        width: 50%;
        position: relative;
    }
    
    .bought {
        height: 25px;
        width: 70px;
        background-color: #f44336;
        margin-left: 30px;
        text-align: center;
        padding-top: 5px;
    }
    
    .item p {
        padding-left: 20px;
        color: gray;
        width: 60px;
    }
    
    #month .amount {
        margin-left: 400px;
        background-color: #000;
        color: white;
        height: 50px;
        width: 120px;
    }
    
    .quantity {
        position: absolute;
        left: 600px;
        background-color: #000;
        color: white;
        height: 25px;
        width: 38px;
        border-radius: 50%;
        font-size: 20px;
        text-align: center;
    }
    
    .item-place {
        width: 245px;
        height: 400px;
        background-color: white;
        margin-left: 15px;
    }
    
    .item-place img:hover {
        opacity: 0.9;
        background-color: black;
    }
    
    .name-place {
        color: #000;
        padding-top: 15px;
        font-weight: bold;
        font-size: 18px;
    }
    
    .item-place .decribe {
        color: #000;
        padding-bottom: 17px;
        font-size: 17px;
    }
    
    .item-place .time {
        color: white;
        padding: 18px 0;
        color: gray;
    }
    
    #place .bought-ticket {
        padding-left: 20px;
    }
    
    .item-place button {
        padding: 10px;
        background-color: #000;
        color: white;
        border: none;
        font-size: 15px;
    }
    
    #place {
        display: flex;
        justify-content: center;
    }
    
    #contact {}
    
    #contact .title {
        margin-top: 70px;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;
    }
    
    #contact .sub-title {
        margin-top: 25px;
        color: gray;
        font-size: 18px;
        font-style: italic;
        text-align: center;
        margin-bottom: 60px;
    }
    
    .contac-infor {
        display: flex;
        justify-content: center;
    }
    
    .contac-infor .infor {
        margin-right: 220px;
    }
    
    .infor .place::before {
        content: '•';
        font-size: 50px;
        vertical-align: middle;
        padding-right: 10px;
    }
    
    .infor .phone::before {
        content: '☎';
        font-size: 20px;
        vertical-align: middle;
        padding-right: 10px;
    }
    
    .infor .email::before {
        content: '✉';
        font-size: 20px;
        vertical-align: middle;
        padding-right: 7px;
    }
    
    .infor .email {
        margin-top: 10px;
    }
    
    .form #null {
        width: 120px;
        height: 40px;
        margin-right: 10px;
        border: 1px solid #ccc;
    }
    
    .form #email {
        width: 120px;
        height: 40px;
        font-size: 16px;
        padding-left: 10px;
        border: 1px solid #ccc;
    }
    
    .form #message {
        width: 257px;
        height: 40px;
        border: 1px solid #ccc;
        padding-left: 10px;
    }
    
    #send {
        margin-left: 926px;
        background-color: #000;
        color: white;
        border: none;
        padding: 12px 20px;
        font-size: 15px;
    }
    
    #send:hover,
    .bought-ticket #ticket:hover {
        background-color: gray;
        color: black;
    }
    
    #map {
        margin-top: 120px;
        background-image: url('../images/map.jpg');
        height: 600px;
    }
    
    #social-list {
        margin-top: 80px;
        text-align: center;
        margin-bottom: 100px;
    }
    
    .ti {
        font-size: 23px;
        color: rgba(128, 128, 128, 0.541);
        text-decoration: none;
        padding-left: 2px;
    }
    
    .ti:hover {
        color: rgb(128, 128, 128);
    }
    
    #social-list p {
        margin-top: 20px;
        color: gray;
    }
    
    #social-list p a {
        margin-top: 20px;
        color: gray;
    }