    * {
        padding: 0;
        margin: 0;
    }
    
    .title {
        padding-top: 50px;
    }
    
    form {
        margin-top: 20px;
    }
    
    #rsl {
        padding: 3px;
    }
    
    .form-item label {
        width: 150px;
        display: inline-block;
    }
    
    legend {
        background-color: gray;
        padding: 5px;
        margin-bottom: 15px;
    }
    
    fieldset {
        margin-top: 100px;
        margin-left: 100px;
        background-color: #eeeeee;
        padding-left: 50px;
        width: 82%;
        padding-top: 2 0px;
    }