*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
}
.container{
     max-width: 1140px;
    margin: 0 auto;
}
.header{
    background-color:rgb(0, 89, 255);
    padding: 0 15px;
}
.content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rounded{
    border-radius: 50%;
}
.logo-header{
    display: flex;
    align-items: center;
}
.title{
    color:white;
    font-size: 20px;
    margin-left: 20px;
}
.nav-header a {
  margin-left: 30px;
  color:white;
}
.native{
    border-bottom: 2px solid yellow;
}
.banner-container {  
    height: 300px;
   width: 100%;
   background-image: url('../images/banner.jpg');
   background-size: cover;
   background-position:center;
   justify-content: center;
   align-items: center;
   display: flex;
}
.backdrop{
  background-color: black;
  background-position:relative;
  width:100%;
  height: 300px;
  opacity: 0.6;
  position: absolute ;
}
.banner-content h1{
color:white;
text-transform: uppercase;
font-size: 20px;
margin-bottom: 20px;
}
.banner-content{
    z-index: 1;
    position: relative;
    display: flex;  
    flex-direction: column;
    align-items: center;
}
.banner-content .register{
    padding: 5px 28px;
    font-size: 13px;
    text-transform: uppercase;
    background-color: rgb(0, 140, 255);
    border-radius: 5px;
    border: none;
    color: white ;
}
.page-title{
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    margin-bottom: 15px;
}
.page-description{
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
    position: relative;
}
.page-description::before{
    content: '«';
    font-size: 35px;
    color:blue;
    position: absolute;
    top: -18px;
    left: -25px;
}
.page-description::after{
    content: '»';
    font-size: 35px;
    color: blue;
    position: absolute;
    bottom: -11px;
    right: -15px;   
}
.register:hover{
   background-color: rgba(255, 255, 0, 0.911);
}
.section-title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 30px;
}
 .card .course-img{
    background-image: url('../images/phone.png');   
    height: 120px;
    width: 250px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.card{
    display: flex;
    justify-content: center;
}
.course-card{
    margin-left:20px;
}
.course-content{
    background-color: #ececec;
    height: 160px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px ;
}
.course-content:hover{
    box-shadow:5px 5px 5px #ececec;
}
.card .course-name{
    font-size: 16px;
    padding-left:12px;
  padding-top: 15px;
}
.course-teacher img{
   border-radius: 50%;
}
.course-teacher{
    padding-left: 12px;
    padding-top: 10px;
}
.course-teacher span{
    padding-left: 15px;
    vertical-align: 100%;
}
.course-price{
    padding-left: 160px;
    color:red;
    font-size: 15px;
}
.teacher-img{
    background-image: url('../images/my-tam-teacher.jpg');
    width: 200px;
    height: 150px;
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.teacher-img:hover{
    background-size: 150%;
}
.course-number{
    background-color: black;
    width: 100px;
    height: 25px;
    opacity: 0.8;
    color: white;
    position: absolute;
    bottom:10px;
    left:10px;
    padding: 3px 5px;
    font-size: 15px;
}
.teacher{
    display: flex;
    padding-bottom:10px ;
    padding-left: 30px;
}
.teacher-info{
    background-color: #ececec;
    width: 280px;
    padding-left: 20px;
    line-height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.teacher-info .name{
    padding-top: 20px;
    text-transform: uppercase;
}
.teacher-info:hover{
    box-shadow: 5px 5px 5px#ececec; 
}
.teachers{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-img{
    background-image: url('../images/phone.png');
    width:500px;
    height: 400px;
    background-position: center;
    background-size: cover;
}
.contact-form{
    border:0.2px solid #cacaca;
    width:500px;
    height: 400px;
    border-left:none ;
     padding-left: 30px;
}
.contact-info{
    display: flex;
    justify-content: center;
}
 .form-item input{
  padding: 10px;
  padding-right: 100px;
  border:0.2px solid #cacaca;
  margin-bottom: 30px;
  border-radius: 5px;
 }
 .form-item label{
     width: 150px;
 }
 .title{
     font-weight: bold;
     color: #000;
     text-transform: uppercase;
     margin-top: 30px;
     margin-bottom: 30px;
 }
 .form-item{
     display: flex;
     align-items: center;
     justify-content: center;
 }